VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_BUCKET=payment-screenshots
VITE_ADMIN_EMAIL=sandeepdatta866@gmail.com
VITE_SITE_URL=http://localhost:5173
VITE_UPI_ID=your-upi-id@bank
VITE_UPI_NAME=Your Brand Name
